table, th, td {
    border: 2px solid darkgrey;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    background-color: gainsboro;
}

table {
    width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 25px;
}

a {
    margin-right: 20px;
    margin-left: 20px;
}

/*h2 {*/
/*    align-content: center;*/
/*    align-self: center;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

/*h3 {*/
/*    align-content: center;*/
/*    align-self: center;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

div.c {
    font-family: 'lato', sans-serif;
}
